<dialog close class="dialog-<%=id%> dialog-container">
  <i data-close="<%=id%>" class="fa-solid fa-square-xmark dialog-close"></i>
  <div class="admin-dialog">
    <div>
      <label class="password-label" for="password-<%=id%>">Admin Password</label>
      <input class="password-input" type="password" id="password-<%=id%>" name="password" required />
    </div>
    <button type="submit" class="admin-submit-btn">Confirm <%=actionWord%></button>
  </div>
</dialog>
