<div class="card">
  <a href="/series/<%=s.id%>">
    <% if (s.image_link) { %>
    <img src="<%=s.image_link%>" alt="Cover image of <%=s.title%>" />
    <% } else { %>
    <div class="placeholder-cover">
      <p>Cover Not Available</p>
      <p class="cover-text">You can edit to add the missing cover</p>
    </div>
    <% } %>
  </a>
  <div class="card-series-title">
    <a href="/series/<%=s.id%>">
      <h2 class="card-title"><%=s.title%></h2>
    </a>
    <div class="edit-delete-btn">
      <form action="/series/<%=s.id%>/edit" method="get">
        <button class="series-edit-btn" type="submit"><i class="fa-regular fa-pen-to-square"></i></button>
      </form>
      <form action="/series/<%=s.id%>/delete" method="post">
        <dialog close class="delete-dialog-<%=s.id%>">
          <label class="delete-password-label" for="genre">Admin Password</label>
          <input class="delete-password-input" type="password" name="password" required />
          <button type="submit">DELETE</button>
        </dialog>
        <button data-delete="<%=s.id%>" class="series-delete-btn" type="button">
          <i class="fa-regular fa-trash-can"></i>
        </button>
      </form>
    </div>
  </div>
  <h3 class="card-author-name"><%=s.author%></h3>
</div>
