<div class="card">
  <a href="/series/<%=s.id%>">
    <% if (s.image_link) { %>
    <img src="<%=s.image_link%>" alt="Cover image of <%=s.title%>" />
    <% } else { %>
    <div class="placeholder-cover">Cover Not Available</div>
    <!-- <img src="https://cdn.myanimelist.net/images/anime/1015/138006.jpg" alt="" /> -->
    <% } %>
  </a>
  <div class="card-series-title">
    <a href="/series/<%=s.id%>">
      <h2><%=s.title%></h2>
    </a>
    <div class="edit-delete-btn">
      <form action="/series/<%=s.id%>/edit" method="get">
        <button class="series-edit-btn" type="submit"><i class="fa-regular fa-pen-to-square"></i></button>
      </form>
      <form action="/series/<%=s.id%>/delete" method="post">
        <button class="series-delete-btn" type="submit"><i class="fa-regular fa-trash-can"></i></button>
      </form>
    </div>
  </div>
  <h3><%=s.author%></h3>
</div>
