<div class="manga-form-container">
  <div class="manga-form-content">
    <a class="back-button" href="/"><i class="fa-solid fa-arrow-left"></i><span>Back to Homepage</span></a>
    <form action="<%= edit ? `/series/${series.id}/edit` : '/add-manga'%>" method="post" class="manga-form">
      <% if (errors.length > 0) { %>
            <%- include('errors', {errors}) %>
      <% } %>
      <div class="add-input-container">
        <label class="input-label" for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="Dragon Ball" value="<%=series.title%>" />
      </div>
      <div class="add-input-container">
        <label class="input-label" for="chapter-count">Chapter Count</label>
        <input
          type="number"
          name="chapterCount"
          id="chapter-count"
          placeholder="123"
          value="<%=series.chapterCount%>"
        />
      </div>
      <div class="add-input-container">
        <label class="input-label" for="status">Status</label>
        <select id="status" name="status">
          <option value="">--Please choose an option--</option>
          <option value="Completed" <%=series.status === "Completed" ? "selected" : ''%>>Completed</option>
          <option value="Ongoing" <%=series.status === "Ongoing" ? "selected" : ''%>>Ongoing</option>
        </select>
      </div>
      <div class="add-input-container">
        <label class="input-label" for="publisher">Publisher</label>
        <input type="text" name="publisher" id="publisher" placeholder="Shueisha" value="<%=series.publisher%>" />
      </div>
      <div class="add-input-container">
        <label class="input-label" for="author">Author</label>
        <input type="text" name="author" id="author" placeholder="Akira Toriyama" value="<%=series.author%>" />
      </div>
      <div class="add-input-container">
        <label class="input-label" for="image">Image Link <span class="optional-label">Optional</span></label>
        <input type="text" name="image" id="image" placeholder="img.com/i1.jpg" value="<%=series.image%>" />
      </div>
      <div class="add-input-container">
        <label class="input-label" for="date">Release Date</label>
        <input type="date" id="date" name="date" value="<%=series.date%>" />
      </div>
      <div class="add-input-container">
        <label class="input-label" for="genres">Genre <span class="optional-label">Optional</span></label>
        <select class="genres" id="genres" name="genres" multiple>
          <% genre.forEach((g)=>{ %>
          <option value="<%=g.id%>" <%=series.genres && series.genres.includes(g.id.toString()) ? "selected" : ''%>><%=g.genre_name%></option>
          <% }); %>
        </select>
      </div>
      <% if (edit) { %>
          <button class="manga-form-btn" type="submit">Edit Entry <i class="fa-solid fa-pen-to-square"></i></button>
      <% } else { %>
          <button class="manga-form-btn" type="submit">Add Entry <i class="fa-regular fa-plus"></i></button>
     <% } %>
    </form>
  </div>
</div>
